*.class

# Package Files #
*.jar
*.war
*.ear

*.dat

*.png

*.index

*.prefs

*.launch

*.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week1_2/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week2/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week1_2/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week2/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week2/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.snap

.metadata/.plugins/org.eclipse.core.resources/.snap

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

*.prefs

*.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.core.resources/.history/0/d01fa60a4fa300131a60f1cf55c21a9e

.metadata/.mylyn/repositories.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.history/17/40d2144e52a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/1a/20ae6bd954a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/1a/c029d2f54ca300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/fc/80e9eb5b52a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/f5/d06e025554a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/30/501d6fc151a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/35/90a9b0334aa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/38/c0bb0f3151a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/4d/50d40f7154a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/50/d01aa7b651a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/de/70eff03a4ba300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/d/f01f5e1553a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/f/0052ddc847a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/d4/1060226e4ea300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/cf/c07b34854fa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/f5/003a1c8c53a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/f2/c09af07f51a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/80/b0f9011656a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/85/303fa87a4ea300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/84/50c7704153a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/8b/80de65184fa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/9f/e089216b53a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/95/808579c654a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/a0/403812344fa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/8e/f072bafe50a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/80/7026f5e749a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/7d/d01c433d4ba300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/ac/7072db6a4ea300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/af/f011e3e047a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/b1/f043b14b4ba300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/35/a098bf8053a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/40/20fd9b7255a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/4d/10456ff553a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/4d/f09cf98754a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/51/308e985953a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/4f/a0d932494fa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/4/b0c09fa34aa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/51/501f4fdd53a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/63/b0ed3c6352a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/70/5047a16754a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/76/c0f0266e4aa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/7a/a00a217a4aa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/7c/50ee656153a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/c2/8073aaa74aa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/ed/9085d4f852a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/7/c034892e4da300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/7/b02e8d7b53a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/6f/a06e8c5a54a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/ee/5023ce3451a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/6d/1057d8194ba300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/66/10b5887e4ba300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/61/00d9189f4aa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/62/e0d42f1e4ca300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/5b/b0130d164aa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/68/905131914ba300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/5a/e047e12656a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/f3/e00e2a5a4aa300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/59/601336a04ba300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

.metadata/.plugins/org.eclipse.core.resources/.history/30/907ec25e51a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.core.resources/.history/2f/50fa951d56a300131a60f1cf55c21a9e
