*.class

# Package Files #
*.jar
*.war
*.ear

*.dat

*.png

*.index

*.prefs

*.launch

*.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week1_2/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week2/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week1_2/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week2/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Week2/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.snap

.metadata/.plugins/org.eclipse.core.resources/.snap

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

*.prefs

*.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.core.resources/.history/0/d01fa60a4fa300131a60f1cf55c21a9e

.metadata/.mylyn/repositories.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.history/17/40d2144e52a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/1a/20ae6bd954a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/1a/c029d2f54ca300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/fc/80e9eb5b52a300131a60f1cf55c21a9e

.metadata/.plugins/org.eclipse.core.resources/.history/f5/d06e025554a300131a60f1cf55c21a9e
